<style type="text/css">
<!--
.style1 {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
-->
</style>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="2"><img src="Images/Banner.jpg" width="800" height="138"></td>
  </tr>
  <tr>
    <td height="30" colspan="2" bgcolor="#F764D6"><span class="style1">Home | About Us | Contact Us | Login</span> </td>
  </tr>
  <tr>
    <td width="17%" height="360" valign="top" bgcolor="#FFCCFF">&nbsp;</td>
    <td width="83%" valign ="top" bgcolor="#CFAF06">content</td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="#CC66CC">&nbsp;</td>
  </tr>
</table>
